#
#-
# Copyright (c) 2018  StorPool.
# All rights reserved.
#

[Unit]
Description=StorPool hugepages reservation
DefaultDependencies=no
Before=dev-hugepages.mount
After=cgconfig.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/storpool_hugepages -R

[Install]
WantedBy=sysinit.target
