#
#-
# Copyright (c) 2013 - 2018  StorPool.
# All rights reserved.
#

# Human readable name of the cluster, usual form "Company Name"-"Location", e.g. StorPoolLab-Sofia
#
# Mandatory for the monitoring
SP_CLUSTER_NAME=  #<Company-Name-PoC>-<City-or-nearest-airport>

# Provided by the StorPool support team; consists of a location identifier and a cluster identifier separated by a dot, e.g. nzkr.b
#
# Mandatory since version 16.02
SP_CLUSTER_ID=  #Ask StorPool Support

# Non-voting beacon node
# For nodes with clients only
# The server will refuse to start on such a node
#
# Put in the per-node config at the end of the file
#
# Default: 0
#SP_NODE_NON_VOTING=1

# Interfaces for storpool communication
#
# Default: empty
#
# Format:
# primary network:
#SP_IFACE1_CFG='config-version':'resolve-interface':'raw-interface':'VLAN':'IP':'resolve':'shared':'mac'
# secondary network:
#SP_IFACE2_CFG='config-version':'resolve-interface':'raw-interface':'VLAN':'IP':'resolve':'shared':'mac'
#
# config-version - version of the config format (currently 1)
# resolve-interface - name of the kernel interface that has the IP address
# raw-interface - name of the raw interfaces to transmit and receive on
# VLAN - VLAN tag to use
# IP - IP address to use
# resolve - 'b' - use broadcast for resolving (for Ethernet based networks); 'k' - use kernel address resolving (for IP-only networks)
# shared - 's' for shared in case of a bond interface on top; 'x' for e'x'clusive - if nothing else is supposed to use this interface
# mac - 'r' for using the unmodified MAC of the 'r'aw interface; 'P' ('P'rivatized MAC); 'v' the resol'v'e interfaces.
#
# examples
#
# Single VLAN active-backup bond interface
#SP_IFACE1_CFG=1:bond0.900:eth2:900:10.9.9.1:b:s:P
#SP_IFACE2_CFG=1:bond0.900:eth3:900:10.9.9.1:b:s:P
#
# Dual VLAN interfaces
#SP_IFACE1_CFG=1:eth2.101:eth2:101:10.2.1.1:b:x:v
#SP_IFACE2_CFG=1:eth3.201:eth2:900:10.2.2.1:b:x:v
#
# LACP bond interface
#SP_IFACE1_CFG=1:bond0.900:eth2:900:10.9.9.1:b:s:v
#SP_IFACE2_CFG=1:bond0.900:eth3:900:10.9.9.1:b:s:v

# Ignore Rx port
#
# Default:
#SP_IGNORE_RX_PORT=0
#
# Set if the network can preserve selected port even when altering ports
#
# - Link aggregation hash not including L4 SRC & DST
# - Multilayer link aggregation


# RDMA inteface for storpool communication
#
# Default:
#SP_RDMA_IFACE=
#
# Specify one RDMA inteface
#
#SP_RDMA_IFACE=qib0

# RDMA multicast group to use
#
# Default:
#SP_RDMA_MULTICAST=
#
# Specify multicast base of group to use for RDMA iface discovery
#   Sequential groups will be used on each RDMA port
#SP_RDMA_MULTICAST=ff02::0501


# API: port to listen for HTTP requests
#
# Default: 81
#SP_API_HTTP_PORT=81


# API: HTTP server host
#
# Default: 127.0.0.1
#SP_API_HTTP_HOST=127.0.0.1

# API: interface to add/del SP_API_HTTP_HOST when migrating mgmt
#
# Default: unset
#SP_API_IFACE=eth1

# Working directory for reports, shared memory dumps, cores, etc...
#
# Default: /var/run/storpool
#SP_WORKDIR=/var/run/storpool


# Location of automatic bug reports
#
# Default: /var/spool/storpool
#SP_REPORTDIR=/var/spool/storpool


# Attempt to create crash reports only if there is enough free space on SP_REPORTDIR
#
# <number>[KMGTP] = Bytes of free space available before creating bug report
# 0 = disable this check
#
# Default: 0
#SP_REPORTS_FREE_SPACE_LIMIT = 0


# Restart service on crash only if there are less than 3 crashes during a <seconds> interval
#
# seconds = number of seconds for time window
# 0 = Don't restart server on crash
#
# Default: 1800
#SP_RESTART_ON_CRASH=1800


# expected nodes for beacon operation
#
# !!! Must be specified !!!
#
SP_EXPECTED_NODES=1234

# User to change ownership of reports and crashes
#
# Used in /usr/storpool_daemon and /usr/lib/storpool/storpool_kdump
#
# autogenerated configuration by install.sh in /etc/storpool.conf.d/repsync-username.conf
#
# Default: storpool
#SP_CRASH_USER=

# Remote user for sending reports to StorPool
#
# Used by rsync in the storpool_repsync utility
#
# Default: unset
#SP_CRASH_REMOTE_USER=

# Remote address for sending reports to StorPool
#
# Used by storpool_repsync utility
#
# Default: reports.storpool.com
#SP_CRASH_REMOTE_ADDRESS=reports.storpool.com

# Delete the local reports files after sync to the remote
# host and do not write to a local logfile tool if set.
#
# Default: unset
#
#SP_DELETE_REPORTS=

# Remote port for sending reports to StorPool
#
# Used by storpool_repsync utility
#
# Default: 2266
#SP_CRASH_REMOTE_PORT=2266

# Path to iproute2 binaries
#
# Used in /usr/lib/storpool/ifvxlan with iproute2-3.12.0
#
# Default: unset
#SP_IPROUTE2_PATH=

# The system group to use for the /dev/storpool directory and
# the /dev/sp-* raw disk devices.
#
# Default: disk
#SP_DISK_GROUP=root

# The access mode to set on the /dev/sp-* raw disk devices.
#
# Default: 0660
#SP_DISK_MODE=0664

# CPU affinity for server, client and other processes
#
# paste one of the variants generated by /usr/lib/storpool/cpuconf utility
#
#SP_CPUS_RDMA=
#SP_CPUS_BLOCK=
#SP_CPUS_SERVER=
#SP_CPUS_BEACON=
#SP_CPUS_MGMT=
#SP_CPUS_NIC_IRQ=
#SP_CPUS_HBA_IRQ=
#SP_CPUS_OTHER=
#SP_CPUS_ALL=
# add matching perl regex rules for *_IRQ
#SP_CPUS_NIC_REGEX=
#SP_CPUS_HBA_REGEX=

# Highest C-state latency allowed for the CPU in microseconds
# Usually C1E for most CPUs
#
# Default: 5
#SP_CPU_DMA_LATENCY=5

# Server cache size
#
# Each server allocates this amount of RAM (in MB) for caching.
# Can also be specified for each server individually.
#
# Per-instance variables (SP_CACHE_SIZE_0, SP_CACHE_SIZE_1, ...)
# will override the global SP_CACHE_SIZE default.
#
# Default: 4096
#SP_CACHE_SIZE=4096

# Exclude disks
#
# List of paths to drives to ignore on server instance boot, separated with ":".
# ex. /dev/sda1:/dev/sdaq
# Can also be specified for each server individually.
#
# Per-instance variables (SP_EXCLUDE_DISKS_0, SP_EXCLUDE_DISKS_1, ...)
# will override the global SP_EXCLUDE_DISKS.
#
# Default: unset
#SP_EXCLUDE_DISKS=

# Configure NVME drives
#
# Contains a space-separated list of the PCIe IDs of the NVMe devices.
#
# Default: unset
#SP_NVME_PCI_ID=

# Enable Write back cache
#
#SP_WRITE_BACK_CACHE_ENABLED=1

# Deregister services after not responding for X seconds
# Setting this to 0 will disable this behaviour.
#
#SP_DEREGISTER_TIMEOUT_SECONDS=60

# API authentication token
#
# 64bit random value
# generate for example with: 'od -vAn -N8 -tu8 /dev/random'
#SP_AUTH_TOKEN=1234567890

# CLI prompt string
#
# ${SP_VAR} is replaced by the value of the SP_VAR variable.
# Trailing spaces are stripped and "> " is appended.
#
# Default: StorPool
#SP_CLI_PROMPT=${SP_CLUSTER_NAME}

# Use cgroups for affinity setup
#
# Default: 1
#SP_USE_CGROUPS=1
#
# If the above is set to a true value, then each StorPool
# process started on this host will require a specification
# of the cgroups it should be started into.  Use the "cpuset"
# cgroup (or its descendants) to set the CPU affinity of
# the processes.
#
# One or more processes may be placed in the same cgroup,
# or each one may be in a cgroup of its own, as appropriate.
#
# It is also mandatory to specify a SP_RDMA_CGROUPS setting
# for the kernel threads started by the StorPool modules.
#
#SP_BEACON_CGROUPS=-g cpuset:storpool.slice/beacon -g memory:storpool.slice
#SP_BLOCK_CGROUPS=-g cpuset:storpool.slice/block -g memory:storpool.slice
#SP_MGMT_CGROUPS=-g cpuset:storpool.slice/mgmt -g memory:storpool.slice
#SP_SERVER_CGROUPS=-g cpuset:storpool.slice/server -g memory:storpool.slice
#
#SP_RDMA_CGROUPS=-g cpuset:storpool.slice/rdma -g memory:storpool.slice

# Where storpool_cgmove should move processes that it finds in the
# root cgroup.
#
# Default: /system.slice
#SP_CGMOVE_SLICE=/system.slice

# Which cgroups storpool_cgmove should handle.
#
# Default: cpuset memory
#SP_CGMOVE_CGROUPS=cpuset memory

# What kind of sleep to use when there are no requests
#
# Default: 
#SP_SLEEP_TYPE=
#
# Valid values
# "" or "ksleep" - use default kernel sleep
# "hsleep" - Use msleep directly. Processes will apear to be using
#      %100 CPU time, but the processor will be put to sleep
#      lower IO latency then ksleep
# "no" - Don't sleep at all - lowest latency but at the price of
#      of always keepign the CPU in running state


# Number of parallel requests to issue while perfoming recovery
#
# Default: 1
# Min: 1
# Max: 64
#
#SP_NORMAL_RECOVERY_PARALLEL_REQUESTS_PER_DISK=1


# Number of parallel requests to issue while perfoming remote recovery
#
# Default: 2
# Min: 1
# Max: 64
#
#SP_REMOTE_RECOVERY_PARALLEL_REQUESTS_PER_DISK=2


# Bridge service ip addr
# Default: (empty)
#
#SP_BRIDGE_HOST
#

# Network interface name to add the floating bridge ip
# Default: (empty)
#
#SP_BRIDGE_IFACE
#
# If not set bridge service requires the SP_BRIDGE_HOST to 
# be already configured
#
# If set the bridge service will add the SP_BRIDGE_HOST IP
# addr to SP_BRIDGE_IFACE when it becomes active, and will
# be deleted on service stop

##########################

# Configuration items to reaffirm if some other tools or
# startup scripts have changed them
#
# Default: (empty)
#SP_REAFFIRM=

# Patterns for the sysfs values to reaffirm if some other tools or
# startup scripts have changed them
#
# Default: *
#SP_REAFFIRM_SYSFS=*.cursor_blink

[hostname1]
#SP_OURID=1

[hostname2]
#SP_OURID=2

[hostname3]
#SP_OURID=3
