#
#-
# Copyright (c) 2015  StorPool.
# All rights reserved.
#

[Unit]
Description=Flush the StorPool server's write-back cache upon shutdown
After=storpool_beacon.service
Before=storpool_server.service storpool_server_1.service storpool_server_2.service storpool_server_3.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/usr/lib/storpool/flushwbc
