#
#-
# Copyright (c) 2015  StorPool.
# All rights reserved.
#

[Unit]
Description=Clean root cgroup from user processes
After=cgconfig.service
Before=storpool_beacon.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/lib/storpool/storpool_cgmove
ExecStop=/bin/true
